/* général */

.CV {
  height: auto;
  margin: auto;
  position: relative;
  width: 1100px;
  font-family: Ubuntu;
  font-style: bold;
  color: #636A6B;
}
h1 {
  font-size: 60px;
  color: #2A6099;
}
h2 {
  background-color: lightgray;
  text-align: center;
  color: #636A6B;
}
h3 {
  margin-left: 10px
}
p {
  font-size: 16px;
  margin-left: 5px;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  font-weight: bold;
}

/* en tête */
.header{
  position: relative;
  height: 260px;
  width: auto;
  background-color: lightgray;
  border-top-left-radius: 130px;
  border-bottom-left-radius: 130px;
}
.header div{
  display: inline-block;
  float: left;
  text-align: center;
}
.header .logo {
  height: inherit;
  width: 260px;
}
.logo img {
  margin: auto;
  margin-top: 20px;
}
#information1 {
  width: 500px;
  height: inherit;
}
#information1 span{
  font-size: 30px;
}
#information2 {
  width: 300px;
  height: inherit;
  float: right;
}
#information2 div{
  height: 120px;
  width: inherit;
  padding-top: 30px;
  font-size: 2.5rem;
}

/*contenu*/
.content{
  position: relative;
  width: 1100px;
}
#objective {
  text-align: center;
}
.left-row {
  display: inline-block;
  float: left;
  width: 600px;
}
.right-row {
  display: inline-block;
  float: right;
  width: 478px;
}
.card {
  border: solid 3px;
  border-color: #2A6099;
}
.m-10px {
  margin: 10px;
}
.my-10px {
  margin-top: 10px;
  margin-bottom: 10px;
}
.ml-10px {
  margin-left: 10px;
}
.blue {
  background-color: #2A6099;
  color: white
}
.comp {
  background-color: #2A6099;
  border: none;
  color: white;
  padding: 15px 32px;
  margin: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.3rem;
}
.comp:hover {
  background-color: #636A6B;
  border-radius: 10px;
}
